*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
 font-family: Verdana, Geneva, sans-serif;
 font-size: 14px;
 background-image: url("background.png");
 display: grid;
 margin: 0;
}

.toggle {
    font-size: 30px;
    color: white;
    float: left;
    line-height: 45px;
    margin-left: 5%;
    cursor: pointer;
    display: none;
  }
  nav{
  background: #000000;
  height: 45px;
  width: 100%;
  }
  ul{
      float:left;
      margin-left: 5%;
  }
  .socialtop{
      float: right;
      margin-right: 5%;
  }
  ul li{
      margin:0;
      padding:0;
      position:relative;
      display:inline-block;
      font-size:16px;
  }
  ul a{
  font-weight: 400;
  padding:15px;
  line-height: 45px;
  color: #fff;
  font-size:12px;
  text-transform:uppercase;
  text-decoration: none;
  }
  ul li:first-child{
      background:#FF7D00;
  }
  ul li:hover{
  background:#FF7D00;
  color:#fff;
  }
  ul li a:hover{color:#fff;}
  
  .top-social a {
  padding:13px;
  color:#fff;
  }
  .top-social {
  padding: 14px 15px;
  }
  .top-social a:hover {
  color:#FF7D00;
  }
  @media screen and (max-width: 1052px){
       .toggle{
          display: block;
      }
    ul{
        z-index: -1;
        margin-top:-15px;
      position: fixed;
      top: -400px;
      right: 0;
      left: 0;
      width:200px;
      background: #222222;
      display: inline-block;
      transition: top .4s;
      margin-left: 0;
    }
    ul.show{
      top: 60px;
    }
    ul li{
        top: 0;
        width: 100%;
        float: left;
      text-align: center;
    }
  }
  
  @media screen and (max-width:500px){
    ul{
      width:100%;
    }
    
  }
  
body{
    background-image: url(background.png);
    background-size: cover;
}

.wrapper {
    background-color: #fff;
    width:500px;
    padding: 25px;
    margin: 50px auto 0;
    border-top: 5px solid #f5ba1a;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    
}
.wrapper h2{
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 30px;
    text-align: center;
}
.input-name{
    width: 90%;
    position: relative;
    margin: 20px auto;
    
}
.lock{
    padding:8px 11px;
}
.name{
    width: 45%;
    padding:8px 0 8px 40px;
}
.input-name span{
    margin-left: 35px;
}
.text-name{
    width: 100%;
    padding:8px 0 8px 40px;
}
.input-name i{
    position: absolute;
    font-size: 18px;
    border-right: 1px solid #cccccc;
}
.email{
    padding: 8px;
}
.text-name, .name{
    border: 1px solid #cccccc;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      transition: all 0.30s ease-in-out;
}
.text-name:hover, .name:hover{
    background-color: #fafafa;
}

.radio-button{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
 .gender {
    margin-right: 1em;
}
.gender:before {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-right: 0.5em;
    border-radius: 100%;
    vertical-align: -3px;
    border: 2px solid #cccccc;
    padding: 0.15em;
    background-color: transparent;
    background-clip: content-box;
    transition: all 0.2s ease;
  }

  .radio-button:hover + .gender:before {
    border-color: #000;
  }
  .radio-button:checked + .gender:before {
    background-color:#000;
    border-color: #000;
  }

  .country{
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 0px 15px;
    cursor: pointer;
    color: #7b7b7b;
    border: 1px solid #cccccc;
    border-radius: 0;
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 0.2s ease;
}
.country::-ms-expand{
    display: none;
}
.country:hover, .country:focus{
    color: #000;
      background: #fafafa;
      border-color: #000;
      outline: none;
}
.arrow {
    position: absolute;
    top: calc(50% - 4px);
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: #7b7b7b transparent transparent transparent;
 }
  
.country:hover +.arrow, .country:focus +.arrow{
      border-top-color: #000;
}
.chack{
    margin-right: 1em;
        position: relative;
}
.chack::before{
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-right: 0.5em;
    vertical-align: -2px;
    border: 2px solid #cccccc;
    padding: 0.12em;
    background-color: transparent;
    background-clip: content-box;
    transition: all 0.2s ease;
}
.chack::after{
    border-right: 2px solid #000;
          border-top: 2px solid #0000;
          content: "";
          height: 20px;
          left: 2px;
          position: absolute;
          top: 7px;
          transform: scaleX(-1) rotate(135deg);
          transform-origin: left top;
          width: 7px;
          display: none;
}
.chack-button{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.chack-button:hover +.chack::before{
    border-color: #000;
}
.chack-button:checked +.chack::before{
    border-color: #000;
}
.chack-button:checked +.chack::after{
    -moz-animation: check 0.8s ease 0s running;
        -webkit-animation: check 0.8s ease 0s running;
        animation: check 0.8s ease 0s running;
        display: block;
        width: 7px;
        height: 20px;
        border-color: #000;
}
@-webkit-keyframes check {
    0% { height: 0; width: 0; }
    25% { height: 0; width: 7px; }
    50% { height: 20px; width: 7px; }
  }
  
  @keyframes check {
    0% { height: 0; width: 0; }
    25% { height: 0; width: 7px; }
    50% { height: 20px; width: 7px; }
  }
  .button{
    background:#f5ba1a;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    
  }
  .button:hover{
      background-color: #f8c22e;
  }
  .button:hover{
      background-color: #f8c22e;
  }

  @media (max-width: 480px) {
      .wrapper{
          width: 100%;
      }
      .input-name{
          margin-bottom: -10px;
      }
      .name{
          width: 100%;
          padding:8px 0 8px 40px;
          margin-bottom: 10px;
      }
      .input-name span{
          padding: 0;
          margin:0;
      }
  }

.footer{
      position: relative;
      margin-top: 30px;
      background: #303036;
      color: #d3d3d3;
      height: 245px
 }

 .footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;

}

 .footer .footer-bottom{
     background: #343a40;
     color: #686868;
     height: 50px;
     width: 100%;
     text-align: center;
     position: absolute;
     bottom: 0px;
     left: 0px;
     padding-top: 20px;

 }

 .footer .footer-content img,
 .footer .footer-content img{
    color: white;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
 }

 .footer .footer-content .about p{
     text-align: center;
 }

 .footer .footer-content .about .contact{
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 1rem 0 3rem 0;

 }

 .footer .footer-content .about .contact span{
    margin: 0 10px;
    text-decoration: none;
 }

 .footer .footer-content .about .contact a{
     color: white;
     transition: color .4s ease;
 }

 .footer .footer-content .about .contact a:hover i{
     color: aqua;
 }